<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Announcements</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>Repositories</h1>
      <form method="POST">
        <input type="hidden" name="_csrf" value="<%=  csrfToken %>">
        <div class="form-group">
          <label for="urlInput">
            Repository URL:
          </label>
          <input id="urlInput" class="form-control" name="url" required>
        </div>
        <div class="form-group">
          <label for="teamnameInput">
            Team Name:
          </label>
          <input id="teamnameInput" class="form-control" name="team">
          </div>
        <input name="submit" type="submit">
      </form>
      <table class="table">
        <thead>
          <tr>
            <th>Team</th>
            <th>Repository URL</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% repos.forEach(function(repo) { %>
          <tr>
            <td><%= repo.TeamName %></td>
            <td><%= repo.RepoUrl %></td>
            <td>
              <form method="POST" onsubmit="return confirm('Do you really want to delete this repository?');">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="url" value="<%= repo.RepoUrl %>">
                <input type="submit" name="delete" value="Delete">
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
